@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img.logo {
    height: 200px;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

/* create story form and some parts of create account form*/
form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80%; */
    /* align-self: center; */
}
label {
    color: #9a460e;
    text-align: left;
}

div.form {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 16px;
    height: auto;
    width: 500px;
    align-items: center;
    /* border: 1px red solid; */
}

.form-control {
    width: 500px;
    height: 30px;
    background-color: #ac86a0;
    color: white;
    border: none;
    
}

textarea.form-control {
    height: 500px;
    border: none;
}

input.submit_button {
    background-color: rgb(226, 200, 87);
    width: 100px;
    height: 30px;
    border:  none;
}

section.form-container {
    text-align: center;
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul, span.helptext {
    color: rgb(0, 90, 128);
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: small;
    text-align: left;
}