{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<section class = "form-container">
    <form action="" method="post">
        <!-- #these are for statements -->
        <div class ="form">
        {% csrf_token %} 
        <!-- #double curlies for inserting expressions into templates.  -->
        {{ form.as_p }} 
        </div>
        <input type="submit" class = "submit_button" value="submit">

    </form>
</section>
{% else %} 
    <h2>Oops! You are not logged in. </h2>
    <h2>Login or create an account to submit your story. </h2>
{% endif %}
{% endblock %}